<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220915-141855-CodeSystem-elga-lebensmittelallergene.html">2022-09-15 14:18:55</a></td><td><a onclick="createDiff('CodeSystem-elga-lebensmittelallergene.html', '20220915-141855-CodeSystem-elga-lebensmittelallergene.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>