<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220313-202436-CodeSystem-snomed-ct-auszug.html">202202</a></td><td><a onclick="createDiff('CodeSystem-snomed-ct-auszug.html', '20220313-202436-CodeSystem-snomed-ct-auszug.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>