<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220313-202436-ValueSet-elga-wirkstoffe-ages.html">20220224</a></td><td><a onclick="createDiff('ValueSet-elga-wirkstoffe-ages.html', '20220313-202436-ValueSet-elga-wirkstoffe-ages.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>